/*--------------------------------*/
/*Form*/
/*--------------------------------*/

#seen_form { 
    display: inline-block; 
    height: 100%;
    width: 25%; 
    margin: 0 75%;
}

#required {
    color: red;
}


/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#pet-map {
  display: inline-block; 
  height: 800px;
  width: 75%;
}

.window-content {
  color: #04162b;
  width: 150px;
}