/*--------------------------------*/
/*Form*/
/*--------------------------------*/

#required {
    color: red;
}

.user_entered_address {
  display: none;
}

.submitted_form_class {
  display: none;
}

.moreInfo_class {
  display: none;
}


/*--------------------------------*/
/*Maps and general layout*/
/*--------------------------------*/

#container {
  width:100%;
}

#pet-map {
  padding-left: 10px;
  display: inline-block; 
  height: 800px;
  width: 100%;
}

#seen_form {
  display: inline-block; 
  height: 800px;
}


.window-content {
  color: #04162b;
  width: 150px;
}

#filter_form {
  margin: 5px 20px;
}

/*--------------------------------*/
/*More Info*/
/*--------------------------------*/

#animal_photo {
  display: inline-block;
  margin: 25px 50px;
}

#animal_info {
  display: inline-block;
  margin: 25px 50px;
}

#found_button_div {
  display: inline-block;
  margin: 25px 50px;
}

#moreInfo {
  margin: 5px 20px;
}

/*--------------------------------*/
/*Report Lost Pet page*/
/*--------------------------------*/

div.pet-list {    
    margin-top: 15px;
    margin-bottom: 15px;
}

div.pet-detail {
    margin-top: 20px;
    font-weight: lighter;
}

div.search_btn {border-style: solid;}


/*--------------------------------*/
/*Modal*/
/*--------------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#lost_pet_modal_html {
  display: inline-block;
  margin: 25px 50px;
}







