
<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
    <link href="/static/lost_pets.css" rel="stylesheet">

    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}

  </head>
  <body>
    <div class="container">
      <h1>
      Find Fido
      </h1>
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-info">{{ msg }}</div>
      {% endfor %}
    </div>

  {% block body %}
  {% endblock %}

  </body>
</html>














