{% extends 'base.html' %}

{% block body %}


<title>
  Create Your Account
</title>


<div id="create-user-div" class="col-3">
    <form class="form-create_user" method="POST">

      <div id="create-user-title">
        <h2 class="form-create_user-heading">Please Create Your Find Fido Account!</h2>
      </div>
        <div class="form-group">
            <label for="username-field" class="sr-only">Username</label>
            <input type="username"
                   name="username"
                   class="form-control input-lg"
                   placeholder="Username"
                   required>
        </div>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   required>
        </div>

        <button class="btn btn-lg btn-primary btn-block create-user-submit" type="submit">Sign In
        </button>

    </form>
</div>
{% endblock %}