{% extends 'base.html' %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD52RrA9gfZqgo8twZNm92r0bxMIT9poR4"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/mapstyles.js"></script>
<script src="/static/pet_map.js"></script>

{% endblock %}

{% block body %}

<title>
  Find Fido
</title>


<div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form id='address_bar' action="#">
        <span class=address_bar style="width: 350px; color:#015249;"> Enter Address&nbsp;&nbsp;&nbsp;<input id="address" type="text" name="address" style="width: 350px;">
        <input class="search_address_btn" id=address_bar_submit type="submit">
        </span>
      </form>
    </div>
</div>
<div class="row justify-content-md-center">
    <h3 style="color:#015249;">Click the map where you saw the runaway or stray pet!</h3>
</div> 

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="row">
        <div id="animal_photo" class="col" > </div>
        <div id=seen_animals_modal_html>...</div>
    
        {% if session.get('logged_in_user_email') %}
        <div id="found_button_div" class="col">
            <div>
            <center> Has this animal been found and returned home?
            <br>
            <button class="found_button_class" id="found_button" type="button" action="/found_animal">Yes!</button>
            </center>
            </div>
       </div>

        {% else %}
        <div id="login" class="col">
            <div> 
                <h4>
                Users can report a seen animal as found if its been returned to its home!
                </h4>
                <a href="/login" class="button">Sign In</a> or
                <a href="/create_user" class="button">Create an Account!</a>
            </div>
        </div>
    {% endif %}
    </div>
  </div>
</div>



<!-- The filter Form -->
<div class="row">

<!-- DRAWER ON LEFT -->
    <div class="col-2 my-drawer my-hide filter_form_div" id="filter_form_container">
        <div id="filter_form_div">
            <form id='filter_form' action="/filter_lost_animals">
                <h3>Filter By </h3>
                <h5>Species:</h5>

                <label style="font-size:15px;"></label> 
                    &nbsp;&nbsp;&nbsp;<input id="Dog" type="checkbox" name="species_id" value="Dog"> Dog
                    &nbsp;&nbsp;&nbsp;<input id="Cat" type="checkbox" name="species_id" value="Cat"> Cat
                <br>
                <br>

                <h5>Colors:</h5>
                    &nbsp;&nbsp;&nbsp;<input id="Black" type="checkbox" name="colors" value="Black"> Black
                    &nbsp;<input id="Blue" type="checkbox" name="colors" value="Blue"> Blue<br>
                    &nbsp;&nbsp;&nbsp;<input id="Brown" type="checkbox" name="colors" value="Brown"> Brown 
                    &nbsp;<input id="Cream" type="checkbox" name="colors" value="Cream"> Cream<br>
                    &nbsp;&nbsp;&nbsp;<input id="Gray" type="checkbox" name="colors" value="Gray"> Gray
                    &nbsp;<input id="Orange" type="checkbox" name="colors" value="Orange"> Orange<br>
                    &nbsp;&nbsp;&nbsp;<input id="Red" type="checkbox" name="colors" value="Red"> Red
                    &nbsp;<input id="White" type="checkbox" name="colors" value="White"> White<br>
                    &nbsp;&nbsp;&nbsp;<input id="Yellow" type="checkbox" name="colors" value="Yellow"> Yellow
                <br>
                <br>

                    <h5>Sizes:</h5>
                    &nbsp;&nbsp;&nbsp;<input id="X-Small" type="checkbox" name="size_id" value="X-Small"> X-Small
                    &nbsp;<input id="Small" type="checkbox" name="size_id" value="Small"> Small<br>
                    &nbsp;&nbsp;&nbsp;<input id="Medium" type="checkbox" name="size_id" value="Medium"> Medium 
                    &nbsp;<input id="Large" type="checkbox" name="size_id" value="Large"> Large<br>
                    &nbsp;&nbsp;&nbsp;<input id="X-Large" type="checkbox" name="size_id" value="X-Large"> X-Large
                <br>
                <br>

                    <h5>Status:</h5>
                    &nbsp;&nbsp;&nbsp;<input id="true" type="checkbox" name="found" value="true"> Returned Home
                    &nbsp;<input id="false" type="checkbox" name="found" value="false"> Seen<br>
            </form>
    </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-1" style="padding-left: 0px; padding-right: 0px;">
          <button class="btn sticky-top map_filter_button" href="#filter_form_div" role="button" id="map_filter_drawer">
            <center><span>Map<br>Filter</span></center>
          </button>   
        </div>

        <!-- This is where the map goes so it fits in -->
        <!-- The map -->
        <div class="col" style="padding-left: 0px; padding-right: 0px; margin-left: 5px;">
            <div id="pet-map" class="col"></div>
        </div>
      </div>
    </div>


<!-- drawer on the right -->

        <div class="col-1" style="padding-right: 0px;padding-left: 0px;">
          <button class="btn sticky-top animal_form_drawer-button" href="#seen_form_div" role="button" id="seen_form_drawer-button">
            <span>Seen<br>An<br>Animal?</span>
          </button>   
        </div>


    <div class="col-2 my-hide seen_form_div my-drawer" id="seen_form_div">

        {% if session.get('logged_in_user_email') %}
    <div id="seen_form" > 
        <form id='lost_form' enctype="multipart/form-data" action="/add_lost_animal" method="POST" class="seen_form_class">

            <div hidden>
            <h5>Location Seen<span id="required">*</span>:</h5>
            <p>Are you using your current location or a pin placed on map? </p>
            &nbsp;&nbsp;&nbsp;<input id=current_location type="radio" name="location_quest" value="currentLocation_question" hidden> Current Location 
            &nbsp;&nbsp;&nbsp;<input id=current_location type="radio" name="location_quest" value="currentLocation_question"> Map Pin
            </div>

            <h5>Species<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<input id="dog_species" type="radio" name="species_quest" value="Dog" required> Dog 
                              <input id="cat_species" type="radio" name="species_quest" value="Cat" required> Cat 

            <br>

            <h5>Breed:</h5>
            &nbsp;&nbsp;&nbsp;<select id="breed_quest" name="breed_question" style="width: 200px;">
            <option value="" selected disabled hidden" >Select one</option>

                {% for breed in breeds %}
                <option class="{% if breed.species_id == 1%}cat_breed{%else%}dog_breed{%endif%}">
                {{breed.breed}} 
                </option>
                {% endfor %}
                </select>

            <br>

            <h5>Size<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<input id=size_quest type="radio" name="size_quest" value="X-Small" required> X-Small 
                <input type="radio" name="size_quest" value="Small" required> Small 
                <input type="radio" name="size_quest" value="Medium" required> Medium <br>
            &nbsp;&nbsp;&nbsp;<input type="radio" name="size_quest" value="Large" required> Large 
                <input type="radio" name="size_quest" value="X-Large" required> X-Large 

            <br>

            <h5>Color<span id="required">*</span>:</h5>
                &nbsp;&nbsp;&nbsp;<select id="color1_quest" name="color1_question" required>
                <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>
                <br>

                Other Colors:<br>
                &nbsp;&nbsp;&nbsp;<select id="color2_quest" name="color2_question">
                    <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>
                    
                    <select id="color3_quest" name="color3_question">
                    <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>

                <br>

            <h5>Notes about the animal:</h5>
                &nbsp;&nbsp;&nbsp;<textarea id="notes_quest" name="notes" rows="2" cols="30" maxlength="150" style="width: 200px;"></textarea><br>
                &nbsp;&nbsp;&nbsp;Max 150 characters

            <h5>Upload Image<span id="required">*</span>:</h5>
                <input type="file" name="animal_photo" accept="image/*" required>

                <br>
                <br>

            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input id=submitBtn type="submit">
        </form>
    {% else %}
    <div id="seen_form" class="col">  
        <center><h3>Have you seen a lost pet? <br>Want to share to the map? <br> Help find pets and get them home!</h3>
        <br>
        <a href="/login" class="button">Sign In</a> or
        <a href="/create_user" class="button">Create an Account!</a>
        </center>
    </div>  
    {% endif %}
<!--     </div>  
  </div> -->

    




  </div>
</div>



{% endblock %}