{% extends 'base.html' %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD52RrA9gfZqgo8twZNm92r0bxMIT9poR4"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/mapstyles.js"></script>
<script src="/static/pet_map.js"></script>
{% endblock %}


{% block body %}
<title>
  Report a Lost Pet
</title>

<div class="row">
    {% if session.get('logged_in_user_email') %}
    <div id="submit_lost_poster" class="col-4 submit_lost_poster_div">  
        <form id='submit_lost_poster_form' enctype="multipart/form-data" action="/lost_poster_form" method="POST" class="submit_lost_poster_form">
            <h2>Report a lost pet: </h2>
            <span><h5>Type of pet<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<input id="dog_species" type="radio" name="species_quest" value="2" required> Dog 
                              <input id="cat_species" type="radio" name="species_quest" value="1" required> Cat 
            </span>
            <br>
            <br>

            <span><h5>Name<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<span class=pet_name_class><input id="pet_name" type="text" name="pet_name">
            </span>
            <br>
            <br>

            <span><h5>Last Seen Address<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<span class=form_address><input id="form_address" type="text" name="address">
            </span>
            <br>
            <br>

            <span><h5>Date Last Seen<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<span class=date_lost_class> Enter Date: <input type="date" id="date_lost" name="date_lost" min="2015-01-01" max="2018-31-12">
            </span>
            <br>
            <br>

            <span><h5>Gender<span id="required">*</span>:</h5>
            &nbsp;&nbsp;&nbsp;<input id="male_gender" type="radio" name="gender_quest" value="Male" required> Male
                              <input id="female_gender" type="radio" name="gender_quest" value="Fema" required> Female
            </span>
            <br>
            <br>
            
            <span><h5>Breed:</h5>
            If you are not sure, leave blank or select "Unknown" <br>
            &nbsp;&nbsp;&nbsp;<select id="breed_quest" name="breed_question">
            <option value="" selected disabled hidden>Select one</option>

                {% for breed in breeds %}
                <option class="{% if breed.species_id == 1%}cat_breed{%else%}dog_breed{%endif%}">
                {{breed.breed}} 
                </option>
                {% endfor %}
                </select>
            </span>
            <br>
            <br>
        
            <span><h5>Color<span id="required">*</span>:</h5>
            Select at least one color.<br>
                &nbsp;&nbsp;&nbsp;<select id="color1_quest" name="color1_question" required>
                <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>

                    <select id="color2_quest" name="color2_question">
                <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>
                    
                    <select id="color3_quest" name="color3_question">
                <option value="" selected disabled hidden>Select one</option>
                    {% for color in colors %}
                    <option value="{{ color.color }}">{{ color.color }}</option>
                    {% endfor %}
                    </select>
            </span>
            <br>
            <br>

            <span><h5>Any specific descriptions about your pet?</h5>
                &nbsp;&nbsp;&nbsp;<textarea id="notes_quest" name="notes" rows="2" cols="30" maxlength="150"></textarea><br>
                &nbsp;&nbsp;&nbsp;<span style="font-size:13px;"> Max 150 characters </span>
            </span>
            <br>
            <br>

            <span><h5>Upload an image<span id="required">*</span>:</h5>
                &nbsp;&nbsp;&nbsp;<input type="file" name="animal_photo" accept="image/*" required>
            </span>
            <br>
            <br>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input id=submitBtn type="submit">
        </form>
    {% else %}
    <div id="seen_form" class="col">  
        <center><h3>Has your pet run away? <br>You can create a poster here for others to keep an eye out for your pet</h3>
        <br>
        <a href="/login" class="button">Sign In</a> or
        <a href="/create_user" class="button">Create an Account!</a>
        </center>
    </div>  
    {% endif %}
    </div> 

    <div class="col tips_div"> 
        <div id="tips-title"> Tips to consider when your pet has gone missing!
        </div>
        <br>
        
        <div id="tips">
        <h4 id="tip_headers">Contact local animal shelters and animal control agencies.</h4>
        <p>File a lost pet report with every shelter within a 60-mile radius of your home and visit the nearest shelters daily, if possible.</p>
        &deg; &deg; &deg;
        </div>

      
        <div id="tips">
        <h4 id="tip_headers">Search the neighborhood.</h4>
        <p>Walk or drive through your neighborhood several times each day. Ask neighbors, letter carriers and delivery people about your pet.</p>&deg; &deg; &deg;
        </div>
        
        <div id="tips">
        <h4 id="tip_headers">Don't give up your search!</h4>
        <p>Animals who have been lost for months have been reunited with their owners.</p>&deg; &deg; &deg;

        <p>A pet—even an indoor pet—has a better chance of being returned if she always wears a collar and an ID tag with your name, address and telephone number. Ask your local animal shelter or veterinarian if permanent methods of identification (such as microchips) are available in your area.</p>
        </div>
    </div>
{% endblock %} 
